body {
    font: 20px Arial, sans-seri;
}
.navbar {
    background-color: #D8D8D8;
    color: white;
}
   
.quem-somos {
    background-color: #696969;
    color: white
}

.margin{
    padding-top: 20px;
    padding-bottom: 20px;
    

}

.parceiros{
    padding-top: 25px;
    background-color: #D8D8D8;
}