body {
    font: 20px Arial, sans-seri;
}
.navbar {
    background-color: #D8D8D8;
    color: white;
}
   
.quem-somos {
    background-color: #848484;
    color: white
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}